@model List<Magazyn.Models.Dtos.UserListRowDto>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Magazyn GiTA - Zarządzanie";
    ViewData["ActivePage"] = "AdminPanel";
}

<h2>Baza pracowników - Magazyn GiTA</h2>

<div class="search-bar">
    <form method="get" asp-controller="Uzytkownicy" asp-action="AdminPanel">
        <div class="tabelka">
            <div>
                <label for="login">Login</label>
                <input type="text" id="login" name="login" value="@ViewBag.Login" placeholder="Podaj login użytkownika">
            </div>
            <div>
                <label for="name">Imię i Nazwisko</label>
                <input type="text" id="name" name="name" value="@ViewBag.Name" placeholder="Podaj imię lub nazwisko użytkownika">
            </div>
            <div>
                <label for="pesel">PESEL</label>
                <input type="text" id="pesel" name="pesel" value="@ViewBag.Pesel" maxlength="11" placeholder="Ciąg 11 liczb">
            </div>
        </div>

        <div class="btn-group">
            <button type="submit" class="btn-primary">Wyszukaj</button>
            <a asp-controller="Uzytkownicy" asp-action="AdminPanel" class="btn-secondary">Wyczyść</a>
        </div>
    </form>
</div>

<div class="tabelka-wyniki">
    <table>
        <thead>
            <tr>
                <th>Login</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>PESEL</th>
                <th>Status</th>
                <th>Rola</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Count == 0)
            {
                <tr>
                    <td colspan="8" class="no-results">NIE ZNALEZIONO</td>
                </tr>
            }
            else
            {
                foreach (var u in Model)
                {
                    <tr>
                        <td>@u.Username</td>
                        <td>@u.FirstName</td>
                        <td>@u.LastName</td>
                        <td>@u.Email</td>
                        <td>@u.Pesel</td>
                        <td>@u.Status</td>
                        <td>@u.Rola</td>
                        <td>
                            <a class="btn-secondary" asp-controller="Uzytkownicy" asp-action="UserDetails" asp-route-id="@u.Id">Szczegóły</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
